<div>
    <p class="crowdnote"><i class="iconfont icon-questioncircle"></i>保存营销人群</p>
    <table class="market_step2_table">
        <thead></thead>
        <tbody>
            <tr>
                <td width="140">圈定人数约：</td>
                <td>
                    <span class="market_people_count">{{ crowdcount | numberformat}}</span>人</td>
            </tr>
            <tr>
                <td width="140">营销人群名称：</td>
                <td>
                    <input type="text" ng-model="crowdName" />
                </td>
            </tr>
            <tr>
                <td width="140">有效期至：</td>
                <td>
                    <input type="text" ng-model="curDate" datepicker start-date="{{startDate}}" end-date="{{endDate}}" options="{{ datepickeroptions }}" />
                </td>
            </tr>
            <tr>
                <td width="140">单价：</td>
                <td>0元/CPM</td>
            </tr>
        </tbody>
    </table>
    <button ng-disabled="!crowdName || !curDate" class="default_btn primary_btn market_step2_confirm_btn" ng-click="createComplete();">保存为营销人群</button>
    <button ng-click="back();" class="default_btn market_step2_back_btn">上一步</button>
</div>
