<div class="cards_cont">
    <!-- 选择商圈和会员文件 -->
    <div class="member_card card1" hover-card hoverclass="member_card_hover" head-scroll ng-class="{fixed:swclass}">
        <!-- 选择会员文件 -->
        <div class="circle_operation">
            <label for="" ng-click="crowdType='1';">
                <!-- 默认情况下淘宝会员radio 不允许点击 -->
                <i class="icon iconfont" ng-class="{'icon-radio-checked':crowdType=='1','icon-radiounchecked':crowdType!=='1'}"></i> 淘宝店会员
            </label>
            <label for="" ng-click="crowdType='0';">
                <i class="icon iconfont" ng-class="{'icon-radio-checked':crowdType=='0','icon-radiounchecked':crowdType!=='0'}"></i>线下店会员
            </label>
            <!-- 线下会员文件列表 -->
            <div drop-menu ng-show="crowdType=='0'" class="dropdown listsCont" list="offlineMemberList" display="name" cid="offlineMemberCheckedId"></div>
            <!-- 淘宝店会员文件列表 -->
            <div drop-menu ng-show="crowdType=='1'" class="listsCont dropdown" list="onlineTaobaoList" passname="dataId" cid="onlineTaobaoCheckedId"></div>
        </div>
        <!-- 选择商圈类型 -->
        <div class="circle_operation">
            <label for="" ng-click="areaTypeChecked='0';">
                <i class="icon iconfont icon-radio-checked"></i>城市
            </label>
            <div class="clearfix"></div>
            <!-- 自定义列表 -->
            <div class="syscitylist listsCont" is-local-source="false" source="{{citylist}}" citymenu local-req="true" checkedcall="checkcity(poi);"></div>
        </div>
        <div class="clearfix"></div>
        <div>
            <ul class="match_datas">
                <li>
                    <p class="label">会员文件</p>
                    <p class="value">
                        <span>{{totalCount | numberformat}}</span>人</p>
                </li>
                <li>
                    <p class="label">匹配成功</p>
                    <p class="value">
                        <span>{{matchCount | numberformat}}</span> 人</p>
                </li>
                <li>
                    <p class="label">匹配率</p>
                    <p class="value">
                        <span>{{matchPercent}}</span> %
                    </p>
                </li>
                <li>
                    <p class="label">
                        当前城市会员数
                    </p>
                    <p ng-if="reqError" class="value reqErrorStatus">人数过少，无法显示</p>
                    <p class="value" ng-if="!reqError">
                        <span>{{crowdCount | numberformat}}</span> 人
                    </p>
                </li>
            </ul>
        </div>
    </div>
    <!-- 会员地理位置分布 -->
    <div class="member_card card2" hover-card hoverclass="member_card_hover" ng-controller="memberLocationCtrl">
        <ul class="card_title clearfix">
            <li>
                <a class="selected">会员地理分布</a>
            </li>
        </ul>
        <div class="headDialogContainer">
            <div class="left_area" style="width:335px;">
                <div membertags show-switch-tag="false" tags="filterLabels" class="distributeLabels" checked-call="checkedFilterLabels(labels)"></div>
                <div class="filte_count" ng-if="reqError">
                    人数过少，无法显示，请取消某些筛选条件
                </div>
                <div class="filte_count" ng-if="!reqError">
                    共筛选出
                    <br/>
                    <span class="market_people_count">{{ crowdCount | numberformat}}</span>人
                </div>
            </div>
            <!-- 添加商圈地图 -->
            <div class="right_area rel" style="height:600px">
                <!-- 商圈城市信息 -->
                <div class="map_container_tools">
                    <div class="J_openCityList">
                        <span class="floatl cursor J_currentCity">{{poi.cityname}}{{curcountyname}}</span>
                    </div>
                </div>
                <!-- 区县图例 -->
                <div class="tileThumb" ng-show="!showTileThumb">
                    <div class="tileThumbItem" ng-repeat="item in districtLegend">
                        <span class="fl tileThumbItem_color" style="background:{{item.color}}"></span>
                        <p>{{item.max>150?(item.min+'~'+item.max+'人'):'少量'}}</p>
                    </div>
                </div>
                <!-- 瓦片图例 -->
                <div class="tileThumb" ng-show="showTileThumb" tilelegend legends="tileLegends" select-call="selectLegends(selected)"></div>
                <div amap ng-model="mapObj" class="map_container">
                    <div amap-area-rank rank="districtData" rank-legend="{{districtLegend}}" idkey="county" show-item-county="showItemCounty(bound,info);" show-all-countys="showAllCountys();"></div>
                    <div amaptile tile-size="{{gridSize}}" tile-params="tileParams"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 商圈排名 -->
    <div class="member_card card6" ng-controller="circleRankCtrl" hover-card hoverclass="member_card_hover">
        <ul class="card_title clearfix">
            <li>
                <a href="javascript:void(0);" class="selected">商圈排名</a>
            </li>
        </ul>
        <div class="headDialogContainer">
            <!-- 左侧排名 -->
            <div class="left_area" style="width:335px;">
                <div ng-if="reqError" class="reqErrorStatus">
                    商圈排名数据过少,无法显示
                </div>
                <div class="current_cat_rank circle_rank" ng-show="!reqError">
                    <p ng-click="zoom($index,item);" ng-class="{selected:selectedIndex==$index,hover:hoverIndex==$index}" ng-repeat="item in rank" ng-show="$index<curPage*size && $index>=(curPage-1)*size">
                        <span class="name">{{$index+1 | doubledigit}}、{{ item.name }}</span>
                        <span class="count">{{item.count | fuzzycount}}</span>
                    </p>
                </div>
                <!-- 切换页码 -->
                <ul ng-show="!reqError && rank.length>size" class="current_rank_pages">
                    <li ng-click="curPage=1;" ng-class="{curpage:curPage==1}"></li>
                    <li ng-click="curPage=2;" ng-class="{curpage:curPage==2}"></li>
                </ul>
            </div>
            <!-- 右侧地图 -->
            <div class="right_area rel" style="height:430px;">
                <!-- 商圈城市信息 -->
                <div class="map_container_tools">
                    <div class="J_openCityList">
                        <span class="floatl cursor J_currentCity">{{poi.cityname}}</span>
                    </div>
                </div>
                <!-- 商圈图例 -->
                <div class="tileThumb" ng-show="!showTileThumb">
                    <div class="tileThumbItem" ng-repeat="item in rankLegend">
                        <span class="fl tileThumbItem_color" style="background:{{item.color}}"></span>
                        <p>{{item.max>150?(item.min+'~'+item.max+'人'):'少量'}}</p>
                    </div>
                </div>
                <!-- 网格图例 -->
                <div class="tileThumb" ng-show="showTileThumb" tilelegend legends="tileLegends" select-call="selectLegends(selected)"></div>
                <div amap ng-model="mapObj" center="{{center}}" class="map_container">
                    <div amaptile tile-params="tileParams" tile-size="300"></div>
                    <div update-enabled="false" click-enabled="false" show-item-county="showItemCounty(bound,info);" zoom="{{selectedIndex}}" amap-area-rank rank="rank" rank-legend="{{rankLegend}}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 小区排名 -->
    <div class="member_card card4" ng-init="cur_half_step='brand'" hover-card ng-controller="halfYearRankCtrl" hoverclass="member_card_hover">
        <ul class="card_title clearfix">
            <li>
                <a href="javascript:void(0);" class="selected">小区排名</a>
            </li>
        </ul>
        <div class="headDialogContainer">
            <div class="left_area" style="width:335px;">
                <div ng-if="reqError" class="reqErrorStatus">
                    商圈人数过少,无法显示
                </div>
                <div ng-if="!reqError" class="current_cat_rank">
                    <p ng-click="zoom($index,item);" ng-class="{selected:selectedIndex==$index,hover:hoverIndex==$index}" ng-repeat="item in rank" ng-show="$index<curPage*size && $index>=(curPage-1)*size">
                        <span class="name">{{$index+1 | doubledigit}}、{{ item.name }}</span>
                        <span class="count">{{item.count | fuzzycount}}</span>
                    </p>
                </div>
                <!-- 切换页码 -->
                <ul ng-show="!reqError && rank.length>size" class="current_rank_pages">
                    <li ng-click="curPage=1;" ng-class="{curpage:curPage==1}"></li>
                    <li ng-click="curPage=2;" ng-class="{curpage:curPage==2}"></li>
                </ul>
            </div>
            <div class="right_area" style="height:430px;">
                <div class="map_container_tools">
                    <div class="J_openCityList">
                        <span class="floatl cursor J_currentCity ng-binding">{{poi.cityname}}</span>
                    </div>
                </div>
                <div class="tileThumb">
                    <div class="tileThumbItem" ng-repeat="item in rankLegend">
                        <span class="fl tileThumbItem_color" style="background:{{item.color}}"></span>
                        <p>{{item.max>150?(item.min+'~'+item.max+'人'):'少量'}}</p>
                    </div>
                </div>
                <div amap ng-model="mapObj" center="{{center}}" class="map_container">
                    <div update-enabled="false" click-enabled="false" zoom="{{selectedIndex}}" amap-area-rank rank="rank" rank-legend="{{rankLegend}}"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 常去POI -->
    <div class="member_card card3" hover-card hover-class="member_card_hover" ng-controller="oftenpoiCtrl">
        <ul class="card_title clearfix">
            <li>
                <a href="javascript:void(0);" class="selected">常去POI</a>
            </li>
        </ul>
        <div class="circlerank_operation clearfix">
            <label for="">选择常去POI类型:</label>
            <div drop-menu class="dropdown syscitylist" list="poitypes" display="name" passname="type" cid="poitype"></div>
        </div>
        <div class="headDialogContainer">
            <div class="left_area" style="width:335px;">
                <div ng-if="reqError" class="reqErrorStatus">
                    人数过少,无法显示
                </div>
                <div ng-if="!reqError" class="current_cat_rank">
                    <p ng-click="zoom($index,item);" ng-class="{selected:selectedIndex==$index,hover:hoverIndex==$index}" ng-repeat="item in rank" ng-show="$index<curPage*size && $index>=(curPage-1)*size">
                        <span class="name">{{$index+1 | doubledigit}}、{{ item.poiname }}</span>
                    </p>
                </div>
                <!-- 切换页码 -->
                <ul ng-show="!reqError && rank.length>size" class="current_rank_pages">
                    <li ng-click="curPage=1;" ng-class="{curpage:curPage==1}"></li>
                    <li ng-click="curPage=2;" ng-class="{curpage:curPage==2}"></li>
                </ul>
            </div>
            <div class="right_area" style="height:430px;">
                <div class="map_container_tools">
                    <div class="J_openCityList">
                        <span class="floatl cursor J_currentCity ng-binding">{{poi.cityname}}</span>
                    </div>
                </div>
                <div amap ng-model="mapObj" center="{{center}}" class="map_container">
                    <div is-fit-view="true" amapicons marklnglats="{{rank}}" tipkey="poiname"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- 会员画像 -->
    <div class="member_card card3" hover-card hoverclass="member_card_hover" ng-controller="memberMsgCtrl">
        <ul class="card_title clearfix">
            <li>
                <a href="javascript:void(0);" class="selected">会员画像</a>
            </li>
        </ul>
        <div class="card_content clearfix">
            <div class="member_msgs_item">
                <h3>性别</h3>
                <div ng-if="reqError || dataSource.gender==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.gender!==''" class="member_msgs_item_cont" xlabel="性别" brix-chart type="pie" datasource="{{dataSource.gender}}" id="gender_cont"></div>
            </div>
            <div class="member_msgs_item">
                <h3>职业</h3>
                <div ng-if="reqError || dataSource.job==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.job!=''" class="member_msgs_item_cont" brix-chart xlabel="职业" type="pie" datasource={{dataSource.job}} id="job_cont"></div>
            </div>
            <div class="member_msgs_item">
                <h3>消费额</h3>
                <div ng-if="reqError || dataSource.amout_consume==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.amout_consume!=''" class="member_msgs_item_cont" xlabel="消费额" brix-chart type="bar" datasource={{dataSource.amout_consume}} id="consume_cont"></div>
            </div>
            <div class="member_msgs_item">
                <h3>月均消费指数</h3>
                <div ng-if="reqError || dataSource.avg_consume==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.avg_consume!=''" class="member_msgs_item_cont" brix-chart type="bar" xlabel="月均消费指数" datasource={{dataSource.avg_consume}} id="avg_consume_cont"></div>
            </div>
            <div class="member_msgs_item">
                <h3>年龄</h3>
                <div ng-if="reqError || dataSource.age==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.age!=''" class="member_msgs_item_cont" brix-chart xlabel="年龄" type="pie" datasource={{dataSource.age}} id="age_cont"></div>
            </div>
            <div class="member_msgs_item">
                <h3>商品折扣率</h3>
                <div ng-if="reqError || dataSource.shop_discount==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.shop_discount!=''" class="member_msgs_item_cont" brix-chart type="bar" xlabel="商品折扣率" datasource={{dataSource.shop_discount}} id="shop_discount_cont"></div>
            </div>
            <div class="member_msgs_item">
                <h3>近180天购买偏好</h3>
                <div ng-if="reqError || dataSource.buy_prefer==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.buy_prefer!=''" class="member_msgs_item_cont" brix-chart type="pie" xlabel="近180天购买偏好" datasource={{dataSource.buy_prefer}} id="buy_prefer"></div>
            </div>
            <div class="member_msgs_item">
                <h3>是否有孩子</h3>
                <div ng-if="reqError || dataSource.has_child==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.has_child!=''" class="member_msgs_item_cont" brix-chart type="pie" xlabel="是否有孩子" datasource={{dataSource.has_child}} id="has_child"></div>
            </div>
            <div class="member_msgs_item">
                <h3>最近7天无线上网时段</h3>
                <div ng-if="reqError || dataSource.wireless_online_range_7d==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.wireless_online_range_7d!=''" class="member_msgs_item_cont" brix-chart type="pie" xlabel="最近7天无线上网时段" datasource={{dataSource.wireless_online_range_7d}} id="wireless_online_range_7d"></div>
            </div>
            <div class="member_msgs_item">
                <h3>最近7天PC上网时段</h3>
                <div ng-if="reqError || dataSource.pc_online_range_7d==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.pc_online_range_7d!=''" class="member_msgs_item_cont" brix-chart type="pie" xlabel="最近7天PC上网时段" datasource={{dataSource.pc_online_range_7d}} id="pc_online_range_7d"></div>
            </div>
            <div class="member_msgs_item">
                <h3>app偏好</h3>
                <div ng-if="reqError || dataSource.app_type==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.app_type!=''" class="member_msgs_item_cont" brix-chart type="pie" xlabel="app偏好" datasource={{dataSource.app_type}} id="app_type"></div>
            </div>
            <div class="member_msgs_item">
                <h3>无线兴趣</h3>
                <div ng-if="reqError || dataSource.user_tag==''" class="member_msgs_item_cont reqErrorStatus">
                    人数过少，无法显示
                </div>
                <div ng-if="!reqError && dataSource.user_tag!=''" class="member_msgs_item_cont" brix-chart type="pie" xlabel="无线兴趣" datasource={{dataSource.user_tag}} id="user_tag"></div>
            </div>
        </div>
    </div>
</div>
