<!-- 通用头部导航  -->
<div class="head_nav clearfix">
    <div class="head_nav_inner">
        <div class="head_modules fl">
            <h1 ng-repeat="item in navs" ng-class="{active:curpage.indexOf(item.name)!=-1}" ng-click="redirect(item.name)">{{item.text}}</h1>
        </div>
        <div class="head_links fr" ng-mouseenter="visibleSetmenu=true;" ng-mouseleave="visibleSetmenu=false;">
            <!-- <a href="#myRemembers" class="default_link primary_link">我的会员</a> -->
            <div class="set-toggle">
                <span>设置</span>
                <i class="iconfont icon-caret"></i>
            </div>
            <div class="set-menu" ng-show="visibleSetmenu">
                <a href="javascript:void(0);" ng-class="{active:curpage=='set.circle'}" ng-click="redirect('set.circle')">我的商圈</a>
                <!-- <a href="javascript:void(0);" ng-class="{active:curpage=='set.cat'}" ng-click="redirect('set.cat')">我的关注</a> -->
                <a href="javascript:void(0);" ng-class="{active:curpage=='set.customer'}" ng-click="redirect('set.poi')">我的兴趣点</a>
                <a href="javascript:void(0);" ng-class="{active:curpage=='set.shop'}" ng-click="redirect('set.shop')">我的实体店</a>
            </div>
        </div>
    </div>
</div>

<div ui-view="" id="rootContainer"></div>
